$clr-slightly-desaturated-cyan: hsl(167, 36%, 54%S);
$clr-dark-blue: hsl(205 41% 21%);
$clr-grayish-dark-blue: hsl(245 10% 22%);

$clr-light-grey: hsl(0 0% 98%);
$clr-very-light-grey: hsl(240 2% 92%);
$clr-bright-red: hsl(0 90% 57%);

*,
*::before,
*::after {
  box-sizing: border-box;
}
