/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /*Colors */

  /* Primary */
  --clr-slightly-desaturated-cyan: 167 36% 54%;
  --clr-dark-blue: 205 41% 21%;
  --clr-grayish-dark-blue: 245 10% 22%;

  /* Secondary */
  --clr-light-grey: 0 0% 98%;
  --clr-very-light-grey: 240 2% 92%;
  --clr-bright-red: 0 90% 57%;

  /* typography */
  /* font-sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* Font Families */
  --ff-serif: "Ibarra Real Nova", serif;
  --ff-sans-serif: "Public Sans", sans-serif;
}

/* ------------- 
/* General Reset  */
/*------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.4;
  font-family: var(--ff-sans-serif);
  font-size: 16px;
  color: hsl(var(--clr-grayish-dark-blue));
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
  outline: 1px solid red;
}

.container,
header {
padding: 0 4rem 4rem 4rem;
padding-top: 0;
  margin-inline: auto;
  max-width: 80rem;
}

button {
  border-style: none;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* Colors */

.bg-white {
  background-color: hsl(var(--clr-light-grey));
}
.bg-accent {
  background-color: hsl(var(--clr-slightly-desaturated-cyan));
}
.bg-dark {
  background-color: hsl(var(--clr-dark-blue));
}

.text-dark {
  color: hsl(var(--clr-dark));
}
.text-accent {
  color: hsl(var(--clr-grey));
}
.text-white {
  color: hsl(var(--clr-very-light-grey));
}

/* typography */

.ff-serif {
  font-family: var(--ff-serif);
}

.ff-sans-serif {
  font-family: var(--ff-sans-serif);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

section {
  padding: 1rem 4rem ;
}

.circle {
  width: 56px;
  height: 56px;
  border-radius: 50px;
}

hr {
  color: hsl(var(--clr-light-grey));
}


.btn {
  width: 200px;
  margin: 1.5em 0;
}

.btn__normal--primary {
  background-color: hsl(var(--clr-dark-blue));
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1em 1em;
  margin: 0;
}

.btn__normal--secondary {
  border: 2px solid hsl(var(--clr-dark-blue));
  background-color: hsl(var(--clr-light-grey));
  padding: .75rem 2rem;
}

/* Nav */
nav {
  align-items: center;
  justify-content: space-between;
padding-inline: 4rem;
}
.nav__bar {
  padding: 2rem 4rem;
}
.nav__list {
  list-style: none;
}
.nav__link {
  text-decoration: none;
  color: var(--text-dark);
  padding-inline: 1rem;
}

.burger {
  display: none;
}

.hidden {
  display: none;
}
/* Hero */

.hero {
  background-image: url(./images/homepage/desktop/image-homepage-hero@2x.jpg);
  position: contain;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
grid-template-columns: 3fr repeat(5, 1fr);
grid-template-rows: 1fr repeat(2, 2fr);
}
.hero__txt {
  padding: 1rem;
  grid-area: 3 / 1 / 4 / 2;
}

.hero__img--mobile {
  display: none;
}



/* About */

.grid__about {
    grid-template-columns: 1fr 1fr;

}
.headshot__img {
  background-image: url(./images/homepage/desktop/image-homepage-profile@2x.jpg);
  background-position: center; 
  background-size: contain;
    background-repeat: no-repeat;


}

/* col */

.col {
  grid-template-columns: 1fr 1fr;
}

.col__content {
  padding: 0 5rem;
}

.col__txt {
  padding: 2rem 0;
} 
/* Call to Action */

.cta {
  justify-content: space-between;
  align-items: center;
}

/* Footer */

.footer {
  color: hsl(var(--clr-very-light-grey));
}

.list {
  list-style: none;
}

.footer__list {
    flex-direction: row;
    align-items: center;
  }
  

  .social__link {
    font-size: 32px;
  }

ul.nav__list:nth-child(1) {
 padding-left: 0px;
}


/* Logo */

.logo {
  -webkit-mask: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/18515/heart.svg)
  mask: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/18515/heart.svg)
  -webkit-mask-size: cover;
  mask-size: cover;
}

.logo__white {
  stroke: hsl(var(--clr-very-light-grey));
}

/* Portfolio */

.portfolio__grid {
  grid-template-columns: 1fr 1fr;
}

.portfolio__img {
 overflow: hidden;
}


.project__img {
  flex-direction: column;
}

/*Project Toggle*/
.project__toggle--link {
  text-decoration: none;
  align-items: center;
}
.project__toggle{
  justify-content: space-between;
}
.project__toggle--arrow {
  width: 20px;
  height: 32px;
}

/* Form */

input {
  width: 100%;
}

.contact {
  grid-template-columns: 1fr 1fr;
}


@media (max-width:900px) and (min-width: 576px) {
  .hero {
    background-image: url(./images/homepage/tablet/image-homepage-hero@2x.jpg);
position: contain;
  background-repeat: no-repeat;
  background-size: cover;
grid-template-columns: 2fr 1fr;
grid-template-rows: repeat(3, 1fr) 2fr;}

.hero__txt {
 grid-area: 4 / 1 / 5 / 2;
}

.col {
 
  padding: 0 2rem;
}

.container,
header {
  
  padding-top: 2rem;
}

.col__content {
  padding: 0 2.5rem;
}

nav {
  padding-inline: auto;
}



.col__img {
 overflow: hidden;
 max-width: 100%;

}

img,
picture {
  max-width: initial;
  display: block;
  
}

.headshot__img {
  background-image: url(./images/homepage/tablet/image-homepage-profile@2x.jpg);
  background-size: contain;
}
}

@media (max-width:660px) {
  .hero {
    background-image: url(./images/homepage/mobile/image-homepage-hero@2x.jpg);
    height: 540px;
    grid-template-columns: 2fr;
grid-template-rows: repeat(2, 1fr);
background-size: contain;
  }
  
  .hero__img--mobile {
  display: none;
}
  
  .container,
  header {
    
    max-width: auto;
    padding-top: 0
  }
  
  .cta {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  
  .burger {
    display: block;
  }
  
  .nav__list {
    list-style: none;
    flex-direction: column;
    align-items: center;
    display: none;
  }
  
  .col__img {
    float: end;
  }
  
  .nav__footer {
    flex-direction: column;
  }
  
  .contact {
    
    grid-template-columns: 1fr 1fr;
  }
  .grid__about {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  
  .headshot__img {
    background-image: url(./images/homepage/mobile/image-homepage-profile@2x.jpg);
   background-size: cover;
    max-width: 450px;
  }

  .list {
    list-style: none;
    align-items: center;
    padding-left: 0px;
  }
  .footer__list {
    flex-direction: column;
  }        

  .social__list {
    flex-direction: row;
  }
  
}
